




/* Mixin (quizas no tiene demasiado sentido en este sitio, pero lo pedía la consigna, @include unas 9 veces)*/
@mixin a{
    width: 100%;
}

#grid-area {
    display: grid;
    @include a;
    max-width: 1000px;
    margin: auto;
    padding: 11px;
    gap: 2px;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto auto 100px;
  }
  
  .menu{
    grid-area: header;
}

  .principal{
    grid-area: main;
    

}

  body {
    background: radial-gradient(rgb(40, 40, 44), rgb(11, 11, 12));
    margin: auto;
    color: rgb(154, 155, 161);
    font-family: 'Jura', sans-serif;
    padding-right: 3%;
  }
  
  
  @import "header";

      
  .flex-container {
    display: flex;
    justify-items: center;
    flex-direction: column;
    max-width: 900px
  }
  
  .flex-item {
    padding: 10px;
    @include a;
    
      
    img {
      @include a;
      transition: all 1s;
  
      &:hover {
        filter: brightness(1.5);
        transition: all 1s;
      }
    }
  }
  
  @import "gridGallery";

  

  .bateria {
    max-width: 900px;
    padding: 2px;
  }
  
  .precio {
    @include a;
    max-width: 900px;
  }
  
  .fuego {
    width: 400px;
    padding: 2px;
  }
  
  .borde {
    border: 2px solid black;
    border-radius: 15px;
  }

  @import "cuadroSpecs";

  hr {
    max-width: 900px;
    background-color: rgb(151, 146, 146);
  }

  h3 {
    color: rgb(137, 138, 132);
    text-align: left;
  }
  
  h4 {
    color: rgb(128, 19, 19);
    text-align: left;
    font-size: x-large;
  }
  
  .recomendaciones li {
    list-style-type: circle;
  }

  .listas ul li {
    list-style-type: none;
    list-style: url('../imagenes/icon-list.png');
  }
  
  .btn  {
    margin: 50px 0px 10px 0px;
  }

  .whatsapp{
    width: 25px;

    &:hover {
      filter: brightness(0.3);
      transition: all 0.5s;
    }
  }



  .precio1 a {
    color: rgb(4, 201, 92);
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    transition: all 1s;
  
    &:hover {
      color: rgb(5, 201, 31);
      font-size: 22px;
      text-decoration: none;
      transition: all 1s;
    }
  }

  .precio1 {
    color: #cccfce;
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    -webkit-transition: all 1s;
    transition: all 1s;
    
    &:hover {
      color: #05c91f;
      font-size: 22px;
      text-decoration: none;
      -webkit-transition: all 1s;
      transition: all 1s;
  }
}

  .precio3{
    color: #44ce0e;
    font-weight: bolder;
    font-size: x-large;
    
  }


  @import "animacionesH1yH2";


  @import "footer";
    
  