




/* Mixin (quizas no tiene demasiado sentido en este sitio, pero lo pedía la consigna, @include unas 9 veces)*/
@mixin a{
  width: 100%;
}

#grid-area {
    display: grid;
    @include a;
    max-width: 1000px;
    margin: auto;
    padding: 11px;
    gap: 2px;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto auto 100px;
  }
  
  .menu{
    grid-area: header;
}

  .principal{
    grid-area: main;    
}

  body {
    background: radial-gradient(rgb(40, 40, 44), rgb(11, 11, 12));
    margin: auto;
    color: rgb(154, 155, 161);
    font-family: 'Jura', sans-serif;
    padding-right: 3%;
  }
  
  .txt {
    color: rgb(124, 124, 117);
    font-size: 18px;
    font-weight: bolder;
  
    &:hover {
      color: rgb(56, 173, 20);
      transition: all 1s;
    }
  }

  @import "header";

      
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  
  .flex-item {
    @include a;
      
    img {
      @include a;
      transition: all 1s;
  
      &:hover {
        filter: brightness(1.5);
        transition: all 1s;
      }
    }
  }
  
  @import "gridGallery";

  

  .bateria {
    max-width: 700px;
  }
  
  .precio {
    @include a;
  }
  
  .fuego {
    max-width: 300px;
  }
  
  .borde {
    border: 2px solid black;
    border-radius: 15px;
  }

  @import "cuadroSpecs";



  h3 {
    color: rgb(137, 138, 132);
    text-align: left;
  }
  
  h4 {
    color: rgb(128, 19, 19);
    text-align: left;
    font-size: x-large;
  }
  
  .listas ul li {
    list-style-type: none;
    list-style: url('../imagenes/icon-list.png');
  }
  
  .precio1 a {
    color: rgb(4, 201, 92);
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    transition: all 1s;
  
    &:hover {
      color: rgb(5, 201, 31);
      font-size: 22px;
      text-decoration: none;
      transition: all 1s;
    }
  }


  @import "animacionesH1yH2";


  @import "footer";
    
  